# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.npm/
.env

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Java
/target/
*.log
*.class
*.jar
*.war
*.iml

# IDEs
.idea/
.vscode/
*.swp

# Docker
*.pid
*.seed
logs/
pgdata/

# Build
/build/
/tmp/

# Coverage / testing
coverage/
*.lcov

# Misc
*.zip
*.bak
